.post-list {
    display: flex;
    flex-wrap: wrap;
}

.post {
    width: 30%; /* For large screens, show 3 posts in a row */
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .post {
        width: 48%; /* For medium screens, show 2 posts in a row */
    }
}

@media screen and (max-width: 480px) {
    .post {
        width: 100%; /* For small screens, show 1 post in a row */
    }
}
  